* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}
body {
  background-color: #e7e8e9;
}
/*menu*/
.header {
  position: fixed;
  z-index: 100;
  width: 100vw;
  height: 4rem;
  background-color: #37589c;
  padding: 0 50px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
}
.logo {
  width: 200px;
  height: 100px;
  margin-left: 4rem;
  margin-top: -10px;
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  background-size: 100%;
}
.menu a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 10px;
}
.mostrar-menu,
.ocultar-menu {
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.mostrar-menu {
  order: 1;
}
.menu a:hover,
.mostrar-menu:hover,
.ocultar-menu:hover {
  color: #6893e8;
}
#check {
  display: none;
}
/*banner*/
.banner {
  width: 100vw;
  height: 100vh;
  background-image: url("../img/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.banner-contenido {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
}
.banner-contenido h2 {
  color: #fff;
  font-size: 6rem;
  text-shadow: 10px 0px #5d5d63;
}
.banner-contenido h3 {
  color: #fff;
  font-size: 2rem;
  margin-bottom: 6px;
  text-shadow: 4px 0px #5d5d63;
}
.banner-contenido p {
  width: 500px;
  color: #fff;
  padding: 1rem;
  padding-left: 0;
  text-align: justify;
}
.banner-contenido a {
  color: rgb(255, 255, 255);
  font-size: 1.8rem;
  text-decoration: none;
  align-self: baseline;
  background-color: #3349c2;
  padding: 0.7rem;
  border-radius: 3px;
}
.banner-contenido a:hover {
  color: #c7c3c3;
  cursor: pointer;
}
/*ponencias*/
.titulo {
  justify-self: center;
  font-size: 2rem;
  margin: 2.5rem 0;
}
.titulo h2,
.auspiciadores h2 {
  color: #0089e0;
  text-transform: uppercase;
  font-size: 2.5rem;
}
.ponencias {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  grid-template-areas: "title title";
  padding: 2rem 8rem;
  padding-bottom: 5rem;
}
.ponencias .titulo {
  grid-area: title;
}
.ponencia {
  background-color: #fff;
  border-radius: 5px;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: 1fr 2fr;
  padding: 2rem 1rem;
  box-shadow: 4px 4px 10px #888888;
}
.ponencia .img-ponente img {
  width: 100%;
  height: 100%;
}
/*imganes de ponentes*/
.img-ponente {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  align-self: center;
  display: flex;
  margin: 0 auto;
  grid-column: 1/2;
  border: 4px solid #fff;
  overflow: hidden;
  box-shadow: 4px 4px 10px #888888;
}

.ponencia .datos {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.datos h2 {
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
  color: #9c7c36;
}
.datos h3 {
  font-size: 1.3rem;
}
.datos p {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin-top: 5px;
  color: #676768;
}
/*ponentes*/
.ponentes {
  background-color: rgba(184, 185, 189, 0.5);
  background-image: url("../img/homepage-one-banner.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  padding: 2rem 8rem;
}
.ponentes .titulo {
  grid-column: 1/-1;
}
.ponente {
  width: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e7e8e9c0;
  border-radius: 0.3125rem;
}
.ponente .img-ponente {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 1rem;
}
.ponente h2 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.7rem;
}
p {
  text-align: justify;
}
/*fotos*/
.dp1 .img-ponente {
  background-image: url("../img/ponentes/Arturo-Deza.jpg");
}
.dp2 .img-ponente {
  background-image: url("../img/ponentes/Miguel-Cano.jpg");
}
.dp3 .img-ponente {
  background-image: url("../img/ponentes/ManuelCastillo-Cara_rec.jpg");
}
.dp4 .img-ponente {
  background-image: url("../img/ponentes/Yter-Vallejos.jpg");
}
.dp5 .img-ponente {
  background-image: url("../img/ponentes/romulo-cruz.jpg");
}
.dp6 .img-ponente {
  background-image: url("../img/ponentes/MarioEstrada.jpg");
}
/*team*/
.equipo {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
  padding: 4rem 8rem;
}
.equipo .titulo {
  grid-column: 1/-1;
}
.integrante {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  box-shadow: 2px 2px 5px #888888;
}
.integrante .img {
  width: 150px;
  height: 150px;
  border: 4px solid #fff;
  border-radius: 50%;
  margin: 1rem;
  box-shadow: 2px 2px 10px #888888;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.integrante .datos {
  font-family: "Open Sans", sans-serif;
}
.integrante .datos h2 {
  text-align: center;
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
  text-transform: none;
}
.integrante .datos p {
  text-align: center;
}
.i1 .img {
  background-image: url("../img/team/Araujo\ Garay\,\ Jeff\ Randall.jpg");
}
.i2 .img {
  background-image: url();
}
.i3 .img {
  background-image: url("../img/team/Briones\ Mantilla\,\ Enrique\ Franco.JPG");
}
.i4 .img {
  background-image: url("../img/team/richard.JPG");
  background-position: 0px -5px;
}
.i5 .img {
  background-image: url("../img/team/DanielChamorro-Director\ de\ Proyecto.jpeg");
}
.i6 .img {
  background-image: url("../img/team/William\ Castrejonc.jpg");
}
.i7 .img {
  background-image: url("../img/team/vHernandez.jpeg");
}
.i8 .img {
  background-image: url("../img/team/roberto.jpg");
}
.i9 .img {
}
.i10 .img {
  background-image: url("../img/team/ErickRabanal.jpg");
}
.i11 .img {
  background-image: url("../img/team/carlosBardales.jpg");
  background-position-y: 0px;
}
/*auspiciadores*/
.auspiciadores {
  width: 100%;
  padding: 2rem 5rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.auspiciadores h2 {
  grid-column: 1/-1;
  justify-self: center;
  text-transform: uppercase;
  font-size: 2rem;
}
.auspiciadores .img {
  justify-self: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  margin: 2rem 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.auspiciadores .aus1 {
  background-image: url("../img/auspiciadores/UNC.png");
}
.auspiciadores .aus2 {
  background-image: url("../img/auspiciadores/LOGO-SIS.png");
}
.auspiciadores .aus3 {
  border-radius: 50%;
  background-image: url("../img/auspiciadores/aspast.jpeg");
}
.auspiciadores .aus4 {
  background-image: url("../img/auspiciadores/KILLAY.png");
}
.auspiciadores .aus5 {
  background-image: url("../img/auspiciadores/Logo\ Starmaths.png");
}
.auspiciadores .aus6 {
  background-image: url("../img/auspiciadores/GARRIBASPLATA.png");
}
/*footer*/
.footer {
  background-color: #14284fda;
  color: #fff;
  width: 100%;
  padding: 1.5rem 10rem;
}
.red-social {
  text-align: center;
  margin: 0.25rem;
}
.red-social a {
  text-decoration: none;
  color: #fff;
}
.red-social i {
  display: inline-block;
  padding: 0.5rem;
  font-size: 2rem;
}
.red-social i:hover {
  color: #6893e8;
  font-size: 2.3rem;
}
.footer p {
  text-align: center;
  padding: 10px;
  color: #c8c9ca;
}
/*responsive*/
/*tablet*/
@media screen and (max-width: 980px) {
  .titulo h2 {
    font-size: 2rem;
  }
  .banner-contenido h2 {
    font-size: 4rem;
    text-shadow: 6px 0px #5d5d63;
  }
  .banner-contenido h3 {
    font-size: 1.7rem;
    margin-bottom: 4px;
    text-shadow: 3px 0px #5d5d63;
  }
  .banner-contenido p {
    width: 500px;
    color: #fff;
    padding: 1rem;
    padding-left: 0;
    text-align: justify;
  }
  .ponencias {
    padding: 2rem 3rem;
  }
  .ponencia {
    display: flex;
    flex-direction: column;
  }
  /*ponentes*/
  .ponentes {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    padding: 1.8rem 3rem;
  }
  .ponente {
    padding: 0.5rem 1.8rem;
  }
  .ponente .img-ponente {
    width: 170px;
    height: 170px;
    margin-bottom: 0.7rem;
  }
  .ponente h2 {
    margin-bottom: 1rem;
    font-size: 1.6rem;
  }
  /*team*/
  .equipo {
    grid-template-columns: repeat(2, 1fr);
    padding: 4rem;
  }
  /*auspiciadores*/
  .auspiciadores {
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
  }

  .auspiciadores h2 {
    font-size: 1.8rem;
  }
  .auspiciadores .img {
    width: 100px;
    height: 100px;
  }
}
@media screen and (max-width: 800px) {
  /*header*/
  .header {
    height: 3rem;
  }
  .logo {
    margin-left: 0.5rem;
  }
  .mostrar-menu,
  .ocultar-menu {
    display: block;
  }
  .menu {
    position: fixed;
    width: 50%;
    height: 100vh;
    background-color: #37589c;
    top: 0;
    right: -100%;
    text-align: center;
    padding: 100px 0px;
    z-index: 2000;
    transition: 0.3s;
  }
  .menu a {
    display: block;
    padding: 20px;
  }
  .ocultar-menu {
    position: absolute;
    top: 3rem;
    right: 3rem;
  }
  #check:checked ~ .menu {
    right: 0;
  }
  /*hasta acá el menu*/
  /*baner*/
  .banner {
    top: 3rem;
  }
  .banner-contenido {
    padding-left: 2rem;
  }
  .banner-contenido h2 {
    font-size: 2rem;
    text-shadow: 3px 0px #5d5d63;
  }
  .banner-contenido h3 {
    font-size: 1.4rem;
    margin-bottom: 4px;
    text-shadow: 2px 0px #5d5d63;
  }
  .banner-contenido p {
    width: 400px;
  }
  .banner-contenido a {
    font-size: 0.7rem;
    padding: 0.5rem;
  }
  /*fin banner*/
  /*ponencias*/
  .ponencias {
    margin-top: 2.5rem;
    padding: 2rem 6rem;
  }
  .titulo h2 {
    font-size: 1.7rem;
  }
  .ponencia {
    grid-column: 1/-1;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
  }

  .ponencia .img-ponente {
    width: 120px;
    height: 120px;
    flex-direction: column;
  }
  .ponencia .datos h2 {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
  }
  .ponencia .datos h3 {
    font-size: 1.1rem;
  }
  .datos p {
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin-top: 5px;
    font-size: 0.9rem;
  }

  /*ponentes*/
  .ponentes {
    grid-template-columns: 1fr;
  }
  .ponente {
    padding: 2rem;
  }
  .ponente .img-ponente {
    width: 160px;
    height: 160px;
    margin-bottom: 1rem;
  }
  .ponente h2 {
    font-size: 1.5rem;
  }
  .ponente p {
    font-size: 1rem;
  }
  /*team*/
  .equipo {
    grid-template-columns: repeat(2, 1fr);
    padding: 3rem;
  }
  /*auspiciadores*/
  .auspiciadores {
    grid-template-columns: repeat(3, 1fr);
  }
  .auspiciadores .img {
    width: 90px;
    height: 90px;
  }
  /*footer*/
  .footer {
    padding: 1rem 4rem;
  }
  .red-social i {
    font-size: 1.2rem;
  }
  .red-social h2 {
    font-size: 1rem;
  }
}
/*movil*/
@media screen and (max-width: 510px) {
  /*header*/
  .header {
    height: 3rem;
    padding: 0 25px;
  }
  .logo {
    margin-left: 0rem;
  }
  /*baner*/
  .banner {
    top: 3rem;
    height: 100vh;
  }
  .banner-contenido h2 {
    font-size: 2rem;
    text-shadow: 4px 0px #5d5d63;
  }
  .banner-contenido h3 {
    font-size: 1.5rem;
    margin-bottom: 4px;
    text-shadow: 2px 0px #5d5d63;
  }
  .banner-contenido p {
    width: 300px;
    font-size: 0.7rem;
  }
  .video {
    height: 100vh;
  }
  .banner-contenido {
    padding-left: 2rem;
  }
  .banner-contenido a {
    font-size: 0.8rem;
    padding: 0.5rem;
  }
  .banner-contenido h2 {
    font-size: 2rem;
  }
  .banner-contenido h3 {
    font-size: 1rem;
  }
  /*fin banner*/
  /*ponencias*/
  .ponencias {
    padding: 1rem 1.5rem;
    padding-bottom: 4rem;
  }

  .ponencia {
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
  }
  .ponencia .datos h2 {
    font-size: 0.9rem;
  }
  .ponencia .datos h3 {
    font-size: 0.8rem;
  }
  .datos p {
    font-size: 0.6rem;
  }
  /*ponenetes*/
  .titulo h2 {
    font-size: 1.3rem;
  }
  .ponentes {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
    padding: 2rem 1rem;
  }
  .ponente {
    padding: 1rem;
  }
  .ponente .img-ponente {
    width: 110px;
    height: 110px;
    margin-bottom: 1rem;
  }
  .ponente h2 {
    font-size: 1rem;
  }
  .ponente p {
    font-size: 0.625rem;
  }
  /*team*/
  .equipo {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    padding-bottom: 4rem;
  }
  .equipo .datos h2 {
    font-size: 0.8rem;
  }
  .equipo .datos p {
    font-size: 0.5rem;
  }
  .auspiciadores {
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
  }
  .auspiciadores h2 {
    font-size: 1.3rem;
  }
  .auspiciadores .img {
    width: 60px;
    height: 60px;
  }
  .footer {
    padding: 0;
    font-size: 0.7rem;
  }
  .red-social h2 {
    font-size: 1rem;
  }
  .red-social i {
    font-size: 1rem;
  }
}
